
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-size: 100%; }
body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: normal;
  font-family: "sans2", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
  color: #17181A; }

figure {
  margin: 0;
  padding: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3 {
  margin: 0;
  line-height: 1.125em;
  font-weight: normal;
  letter-spacing: -.025em;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal;
 }

h1 {
  font-size: 2rem;
  }

h2 {
  font-size: 1.25rem; }

h3 { }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal;
}

@media only screen and (min-width: 48em) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 64em) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }

}

/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* sm */
@media only screen and (min-width: 48em) {
  }

/* md */
@media only screen and (min-width: 64em) {
  }

/* lg */
@media only screen and (min-width: 75em) {
  }



/* Items
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.divider {
  opacity: 0.1;
  border-bottom: 1px solid #17181A; }

.dot {
  height: 8px;
  width: 8px;
  background-color: #17181A;
  border-radius: 8px;
  margin: 0 8px 0 0;
}

.spacer {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.secondary {
  opacity: 0.4;
 }

/* navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: 5rem;
}

.brand {
  letter-spacing: -.025em;
}

.menu {
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;

}

.navigation a:visited, a:link {
  text-decoration: none;
  color: #17181A;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  background-color: #2244FF;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer li {
  color: #fff;
    margin: 0.5rem 0;
}

@media only screen and (min-width: 48em) {
  .footer ul {
    flex-direction: row;
  }

  .footer li {
    margin: 0 2rem 0 0;
  }
}



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0; }

li {
  margin-bottom: 1rem; }

@media only screen and (min-width: 48em) {
  li {
    margin-bottom: 1.25rem; }
  }

.project-meta li {
  margin: 0;
  }



/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  max-width: 100%; }

.image img {
  display: block;
  object-fit: fill;
  height: auto;
  width: 100%; }

/* Project
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-preview {

}

.project-thumb {
  background-color: #DFE1E5;
  margin-bottom: 1rem;
}

.project-thumb img {
  display: block;
  object-fit: fill;
  height: auto;
  width: 100%;
}

.project-cover {
  height: 24rem;
  width: 100%;
  background-color: #EFF0F2;
}

.cover-image {
  height: 100%;
  object-fit: cover;
  margin-right: 20%;
}

.project-name {
  padding: 2rem 0;
}

.project-footer {
  border-top: 1px solid #DFE1E5;
  padding: 6rem 0;
  margin: 2rem 0;
}

.project-footer p {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48em) {

  .project-cover {
    height: 32rem;
  }

  .project-name {
    padding: 3rem 0;
  }

}
