
 /* Navigation */

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav-right a, a:hover, a:focus{
  color: #17181a;
  text-decoration: none;
}

.active-link {
  border-bottom: 1px solid #17181a;
}


.nav-left, .nav-right {
  height: 8rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


/* @media (min-width: 550px) {
  .nav-right {
    justify-content: flex-end;
    width: 50%;
  }
  .nav-left {
    justify-content: flex-start;
    width: 50%;
  }
  .nav-item:last-child {
    margin-right: -1.5rem;
  }
} */

.nav-item, .logo {
  margin: auto 0 auto 0;
  padding: 1rem 1.5rem;
}

@media (min-width: 1000px) {

  .nav-item, .logo {
    font-size: 2rem;
    margin: auto 0 auto 0;
    padding: 1rem 1.5rem;
  }

}

.nav-item:first-child, .logo {
  margin-left: -1.5rem;
}


/* Logo */

.logo {
  color: #17181a;
    text-decoration: none;
}

.logo:hover, .logo:focus {
  color: #17181a;
}

/* Content */

.page-content {
  margin: 0rem 0 10rem 0;
  display: block;
}

/* Cover */
.cover {
  margin: calc(2rem + 1.5vw) 0 8rem 0;
}

@media (min-width: 1000px) {

  .cover {
    margin: 3.4rem 0 8rem 0;
  }
}

/* Dividers & Blocks */

.divider-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  height: 1px;
  background: #dfe1e6;
}

/* Projects */

.project {

}

.project h2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 2rem 0 0 0;
}

.project p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 0 0 0;
  opacity: 0.25;
}

@media (min-width: 1000px) {

  .project h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin: 2rem 0 0 0;
  }

  .project p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 0 0;
    opacity: 0.25;
  }
}


/* About */

.about-section {
  margin: 0 0 10rem 0;
}

.about-section h2 {
  font-size: 2rem;
  line-height: 1.6;
  margin: 0 0 4rem 0;
}

.about-section p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 0 0 0;
}

.about-section p.year {
  margin: 0 0 2rem 0;
}

.about-list {
  margin: 0 0 4rem 0;
}

.about-list li {
  margin: 0 0 2.5rem 0;
}

.about-list li p:last-child {
  opacity: 0.25;
  margin: 0 0 0 0;
}

@media (min-width: 550px) {

  .about-section h2 {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0 0 0;
  }

  .about-list {
    margin: 0 0 5rem 0;
  }
}

@media (min-width: 1000px) {

  .about-section {
    margin: 0 0 15rem 0;
  }

  .about-section h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 0 0;
  }

  .about-section p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 0 0 0;
  }

  .about-list li {
    margin: 0 0 5rem 0;
  }

  .about-list {
    margin: 0 0 10rem 0;
  }
}


/* Image */

img {
  max-width: 100%;
}

.image {
  display: block;
  position: relative;
  margin: 0 0 0 0;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.is-16by9 {
}

.is-4by3 {
}
