<section class="collection">
  <div class="collection-label">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Selected projects 2013 - 2018</p>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">Breather</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Product Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2017 - 2018</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">Spotify Business</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Product Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2015 - 2017</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">Soundtrack</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Product Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2015 - 2017</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">International Center of Photography</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2014</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">A Journey Through Middle-Earth</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2014</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">H&M Studio</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2014</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="collection-item">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="name">The New York Times Conferences</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p>Design</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="item-container">
          <p>2013</p>
          <img src="../assets/svg/arrow.svg">
        </div>
      </div>
    </div>
  </div>
</section>
