<section class="sub-section credits">
  <span class="label">Credits</span>
  <p>
    <span class="team">Breather</span> Arnaud Spuhler, Mehgan Iulo, Simon Petry, Joel Simpson, Séraphin Hochart, Benjamin Belbis, Mehdi-Loup Nasom, Laurent Laporte, Marie-Eve Gauthier, Alessia Bellisario, Alain Lormil, Jean-François Duval, Sebastien Menard, Ben Nevile
    <span class="team">Soundtrack Your Brand</span> Joel Brosjö, Patrik Axelsson, Gustav Arnetz, Henrik Engdahl, Martin Tägtström, Niklas Alvarsson, Caitlin Sullivan
    <span class="team">North Kingdom</span> Jonas Eriksson, Riccardo Tagliabue, Antoine Lehurt, Maki Aketa, Tomoya Taniai, Sheila Ho, Anna Jodlovsky, Anniken Gjelseth, Alfredo Aponte
    <span class="team">Your Majesty</span> Jens Karlsson, James Widegren, Nina Amjadi, Dana Mulranen, Rachel Kalagher, Florence Libbrecht, Joshua Pipic, Marius Feldman, Theo Stråhlén, Tore Holmberg, Alexander Strand Kristensen
  </p>
</section>
