<section class="greetings">
  <p>
    I’m an independent designer currently based in <span class="previous-2">New York</span> <span class="previous-2">Montréal</span> Stockholm.
    I’ve previously designed for <a href="https://breather.com" class="work" target="_blank">Breather</a>,
    <a href="https://soundtrackyourbrand.com" class="work" target="_blank">Soundtrack Your Brand</a> and
    <a href="https://soundtrackyourbrand.com/spotify-business" class="work" target="_blank">Spotify Business</a>.
    <a href="/about" class="readmore">Learn more »</a>
  </p>
</section>
