<header class="header">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="nav-section">
        <p class="my-name">Samuel Kantala Delgado</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="nav-section right">
        {% if page.url == "/about" %}
        <ul>
          <li>
            <a id="work" class="underline-effect" href="/">Work</a>
          </li>
          <li>
            <a id="about" class="underline-on" href="/about">About</a>
          </li>
          <li>
            <a id="contact" class="underline-effect" href="mailto:samuel.kantala@gmail.com">Contact</a>
          </li>
        </ul>
        {% else %}
        <ul>
          <li>
            <a id="work" class="underline-on" href="/">Work</a>
          </li>
          <li>
            <a id="about" class="underline-effect" href="/about">About</a>
          </li>
          <li>
            <a id="contact" class="underline-effect" href="mailto:samuel.kantala@gmail.com">Contact</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    </div>
</header>
