<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
    <div class="project-name">
      <h1>
          {{ page.title }}
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="project-meta">
      <ul>
        <li>
          <p>{{ page.years }}</p>
        </li>
        <li>
          <p class="secondary">{{ page.role }}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="project-paragraphs">
      {{ content }}
    </div>
  </div>
</div>
