html {
  font-size: 100%; }

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
  font-weight: 300;
  color: $primary; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1,
h2,
p {
  margin: 0;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal; }

h1,
h2, {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem; }

h2 {
  font-size: 1.5rem;
  line-height: 1.2em; }

p {
  font-size: .9375rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

@include sm {

  h1 {
    font-size: 2.5rem;
    line-height: 3rem; }

  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem; }

  p {
    font-size: 1rem; }
}

@include md {

  h1 {
    font-size: 3rem;
    line-height: 3.5rem; }
}

@include lg {

  h1 {
    font-size: 3.5rem;
    line-height: 4rem; }

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem; }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem; }
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

li {
  @include flex-box;
  margin: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  text-decoration: none;
  &:visited,
  &:link {
  color: inherit; }
}
