html {
  font-size: 100%; }

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5rem;
  font-weight: normal;
<<<<<<< HEAD
  font-family: "NeufileGrotesk-Medium", sans-serif;
=======
  font-family: "Atlas Grotesk", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
>>>>>>> parent of 3c69d87... Style Update
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
  font-weight: normal;
  background-color: $background;
  color: $primary; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1,
h2,
p {
  margin: 0;
  font-weight: normal;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal; }

<<<<<<< HEAD
=======
h1,
h2, {
  font-weight: normal;
  letter-spacing: -.025em;
}

>>>>>>> parent of 3c69d87... Style Update
h1 {
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: -.025em; }

h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

<<<<<<< HEAD
@include xs {

  h1 {
      font-size: 1.875rem;
      line-height: 2rem; }
=======
p {
  margin-bottom: 1.5rem;
  max-width: 50rem;
>>>>>>> parent of 3c69d87... Style Update
}

@include sm {

<<<<<<< HEAD
  h1 {
    font-size: 1.875rem;
    line-height: 2rem; }

=======
>>>>>>> parent of 3c69d87... Style Update
  p {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

@include md {

  h1 {
<<<<<<< HEAD
    font-size: 2.75rem;
    line-height: 3rem; }
=======
    font-size: 2rem;
    line-height: 1.25em;
  }

>>>>>>> parent of 3c69d87... Style Update
}

@include lg {

<<<<<<< HEAD
  h1 {
    font-size: 3.75rem;
    line-height: 4rem; }

  p {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 2rem; }
=======
  P {
  font-size: 1.25rem;
  line-height: 1.6em;
  margin-bottom: 2rem;
  }

>>>>>>> parent of 3c69d87... Style Update
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

li {
<<<<<<< HEAD
  @include flex-box;
  margin: 0; }
=======
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  @include md {
    font-size: 1.25rem;
    line-height: 1.6em;
  }
}
>>>>>>> parent of 3c69d87... Style Update


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  text-decoration: none;
  &:visited,
  &:link {
  color: #17181A; }
}

/* Selection Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::-moz-selection {
	background-color: $primary;
	color: $background;
}

::selection {
	background-color: $primary;
	color: $background;
}

:focus {
	outline: 0;
}
