html {
  font-size: 100%; }

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5rem;
  font-weight: normal;
  font-family: "NeufileGrotesk-Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
  font-weight: normal;
  background-color: $background;
  color: $primary; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1,
h2,
p {
  margin: 0;
  font-weight: normal;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal; }

h1 {
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: -.02em }

h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

@include xs {

  h1 {
      font-size: 1.875rem;
      line-height: 2rem; }
}

@include sm {

  h1 {
    font-size: 1.875rem;
    line-height: 2rem; }

  p {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

@include md {

  h1 {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: -.75px; }
}

@include lg {

  h1 {
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: -1px; }

  p {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 2rem; }
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

li {
  @include flex-box;
  margin: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  text-decoration: none;
  &:visited,
  &:link {
  color: inherit; }
}

/* Selection Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::-moz-selection {
	background-color: $primary;
	color: $background;
}

::selection {
	background-color: $primary;
	color: $background;
}

:focus {
	outline: 0;
}
