@import 'header';

.secondary {
  color: $secondary;
}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cover {

  margin-top: 30vh;
  align-items: flex-start;

  h1 {
    margin-bottom: 4rem;
  }

}


.home {

  .links {
    padding: 2rem 0;
    flex-shrink: 0;
  }

  .readmore {
    color: $accent;
    display: inline-block;
  }

}

.greetings {

  flex: 1 0 auto;

  p {
    @include big-text;
  }

  .previous-2 {
    text-decoration: line-through;
    color: #C0C4CC;
  }

  .previous {
    position: relative;
  }

  .previous::before {
    content: '';
    border-bottom: 1px solid $primary;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
  }

  .work {
    @include p-link-style($primary, $secondary, 1px);

    &:hover,
    &:focus,
    &:active {
      @include p-link-style($accent, $accent, 1px);
    }
  }

  .readmore {
    color: $accent;
    display: inline-block;
  }
}

/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container-fluid {
  margin: 0 auto;
  max-width: $container-width-max;
  padding-right: 1rem;
  padding-left: 1rem;

  @include sm {
    width: $container-width-sm;
  }
  @include md {
    width: $container-width-md;
  }
  @include lg {
    width: $container-width-lg;
  }
}

.home,
.about,
.project {

  @include sm {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @include lg {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.home,
.about {
  @include flex-box;
  flex-direction: column;
  height: 100vh;
}

.sub-section {
  margin-bottom: 3rem;

  @include lg {
    margin-bottom: 4rem; }
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
}

.about-header,
.experience,
.awards,
.credits,
.contact {

  .label {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  @include lg {

    ul, .label {
      margin-bottom: 2rem; }

  }
}

.awards,
.experience {
  li {
      color: $secondary;
    &:first-child {
      color: $primary;
    }
  }
}

.credits {
  .team {
    color: $secondary;
  }
}
