<<<<<<< HEAD
@import 'header';

.secondary {
  color: $secondary;
}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cover {

  align-items: flex-start;

  h1 {
    margin-bottom: 4rem;
  }

}

<<<<<<< HEAD

.home {

  .links {
    padding: 2rem 0;
    flex-shrink: 0;
  }

  .readmore {
    color: $accent;
    display: inline-block;
=======
/* header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {

}

nav {

}

.site-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5em;

  a {
    text-decoration: none;
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #17181A;
  }
  @include md {
    margin-bottom: 2rem;
    height: 7rem;
    font-size: 1.25rem;
    line-height: 1.5em;
  }
=======
.color-primary {
  color: $primary;
>>>>>>> parent of 86b05fb... edits
}

.brand {
}

<<<<<<< HEAD
#close {
  fill: $secondary;
  @include transition(fill 200ms ease-out){}
  &:hover {
    fill: $primary;
  }
=======
.rip {
  color: $primary;
  cursor: not-allowed;
>>>>>>> parent of 86b05fb... edits
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background-color: $primary;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  li {
    color: #fff;
    margin: 0.5rem 0;
  }
  @include sm {
    ul {
      flex-direction: row;
    }
    li {
      margin: 0 2rem 0 0;
    }
>>>>>>> parent of 3c69d87... Style Update
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
.greetings {

  flex: 1 0 auto;

  p {
    @include big-text;
=======
/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  margin: 4rem 0 8rem 0;
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    margin: 1.5rem auto 0 0;
  }

  .internal {
    h1 {
      margin-right: .5rem;
      @include md {
        margin-right: .75rem;
      }
    }
  }
=======
.work-collection {
>>>>>>> parent of 86b05fb... edits

  .external {
    color: $secondary;
>>>>>>> parent of 3c69d87... Style Update
  }

<<<<<<< HEAD
  .previous-2 {
    text-decoration: line-through;
    color: #C0C4CC;
  }

  .previous {
    position: relative;
  }

<<<<<<< HEAD
  .previous::before {
    content: '';
    border-bottom: 1px solid $primary;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
  }

  .work {
    @include p-link-style($primary, $secondary, 1px);

    &:hover,
    &:focus,
    &:active {
      @include p-link-style($accent, $accent, 1px);
    }
  }

  .readmore {
    color: $accent;
    display: inline-block;
  }
=======

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.title {
  margin-bottom: 5rem;
  @include title;
}

.divider {
  height: 1rem;
  border-top: 1px solid $tertirary;
}
=======
.project {
>>>>>>> parent of 86b05fb... edits

.spacer {
  margin-bottom: 3rem;
}

.secondary {
  color: $secondary;
>>>>>>> parent of 3c69d87... Style Update
}

/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

<<<<<<< HEAD
<<<<<<< HEAD
.home,
.about,
.project {
=======
/* Collection
–––––––––––––––––––––––––––––––––––––––––––––––––– */
=======
    h1 {
      @include margin-b (1.6875rem, 1.96875rem, 2.25rem, 3.375rem, 5.0625rem);
>>>>>>> parent of 86b05fb... edits

.collection {
>>>>>>> parent of 3c69d87... Style Update

}

.collection-label {
  @include stroke;
  p {
<<<<<<< HEAD
    max-width: 32rem;
  }

  @include sm {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }

  @include md {
    p {
      max-width: none;
    }
  }

  @include lg {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

.home,
.about {
  @include flex-box;
  flex-direction: column;
}

.sub-section {
  margin-bottom: 4rem;

  @include lg {
    margin-bottom: 6rem; }
=======
    color: $secondary;
    margin: 0 0 2rem 0; }
}

.collection-item {
  @include stroke;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include md {
    padding-top: 3rem;
    padding-bottom: 3rem; }

  h2, p {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    margin: 0;
    @include sm {
      font-size: 1rem;
      line-height: 1.5em; }
    @include lg {
      font-size: 1.25rem;
      line-height: 1.6em;
      margin: 0; }
  }

  h2 {
    margin: 0 0 .5rem 0;
    @include md {
      margin: 0; }
  }

<<<<<<< HEAD
  p {
    color: $secondary;
  }


  .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Project
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
  .row {
    margin-bottom: 2rem;
    @include md {
      margin-bottom: 3rem; }
  }
>>>>>>> parent of 3c69d87... Style Update
}

.about-header {
  @include stroke;
  padding-bottom: 4rem;
  @include md {
    padding-bottom: 6rem; }

  .meta {
    margin-bottom: 2rem;
    @include md {
      margin-bottom: 3rem; }
    color: $secondary;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    li {
      margin: 0;
    }
  }

<<<<<<< HEAD
.about {
}
=======
.home-cover {

  align-items: flex-start;
  @include margin-b (4rem, 6rem, 8rem, 10rem, 12rem);
}

>>>>>>> parent of 86b05fb... edits

.about-header,
.experience,
.awards,
.credits,
.connect {

  .label {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  @include lg {

    ul, .label {
      margin-bottom: 2rem; }

<<<<<<< HEAD
=======
  .content {
    max-width: 50rem;
  }
}

.sub-section {
  padding: 2rem 0 2rem 0;
  @include md {
    padding: 6rem 0 6rem 0; }
=======
>>>>>>> parent of 86b05fb... edits
}


.experience,
.education {
  @include stroke;
}

.experience,
.education,
.awards {

  .label {
    color: $secondary;
    margin-bottom: 2rem;
    @include md {
      margin-bottom: 1rem; }
  }

  p {
  color: $secondary;
  margin-bottom: 0.5rem;
  @include md {
    margin-bottom: 1rem; }
>>>>>>> parent of 3c69d87... Style Update
  }
}

.awards,
.experience {
  li {
<<<<<<< HEAD
      color: $secondary;
    &:first-child {
      color: $primary;
    }
  }
}

.connect {
  padding-bottom: 2rem;
}

.credits {
  .team {
    color: $secondary;
=======
    margin-bottom: 0.5rem;
    @include md {
      margin-bottom: 1rem; }
  }
}

/* Project
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-cover {
  height: 24rem;
  width: 100%;
  background-color: #EFF0F2;
  @include sm {
    height: 32rem; }
  img {
    height: 100%;
    object-fit: cover; }
}

.project {}

.project-header {
  max-width: 54rem;
}


.project-meta {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  li {
    margin: 0 1rem 0 0
  }
  @include sm {
    ul {
      flex-direction: row;
    }
    li {
      margin: 0 1rem 0 0;
    }
  }
}

.project-paragraphs {
  max-width: 50rem;
}



/* Next project
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.next-project {
  border-top: 1px solid #DFE1E5;
  padding: 6rem 0;
  margin: 2rem 0;
  p {
    margin-bottom: 1rem;
>>>>>>> parent of 3c69d87... Style Update
  }
}
