/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container-fluid {
  margin: 0 auto;
  max-width: $container-width-max;
  padding-right: 1rem;
  padding-left: 1rem;
  @include sm {
    width: $container-width-sm;
  }
  @include md {
    width: $container-width-md;
  }
  @include lg {
    width: $container-width-lg;
  }
}

.home, .about, .project {
  @include content-end;
}


.sub-section {
  margin-bottom: 4rem;

  .content {
    max-width: 36rem;

    p {
      margin-bottom: 1.5rem; }
  }

  ul,
  p {
    margin-bottom: 2rem; }


  @include lg {
    margin-bottom: 6rem;

    .content {
      max-width: 50rem;

      p {
        margin-bottom: 2rem; }
    }

    ul,
    p {
      margin-bottom: 3rem; }
   }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  display: flex;
}

nav {

}

.header-home {
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  margin-bottom: 2rem;

  li {
    color: $primary;
    font-size: .9375rem;
    line-height: 1.5rem;
    &:last-child {
      color: $secondary;
    }
  }

  @include sm {
    li {
      font-size: 1rem;
    }
  }

  @include lg {
    height: 7rem;
    li {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

}

.header-close {
  justify-content: flex-end;
  align-items: center;
  height: 5rem;

  @include lg {
    height: 7rem;
  }

}

#close {
  fill: $primary;
  -webkit-transition: border-bottom-color 200ms ease-out;
  -moz-transition: border-bottom-color 200ms ease-out;
  -o-transition: border-bottom-color 200ms ease-out;
  transition: border-bottom-color 200ms ease-out;

  &:hover,
  &:focus,
  &:active {
    fill: $accent;
    -webkit-transition: border-bottom-color 200ms ease-out;
    -moz-transition: border-bottom-color 200ms ease-out;
    -o-transition: border-bottom-color 200ms ease-out;
    transition: border-bottom-color 200ms ease-out;
  }
}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home {

  h1 {
    display: inline;

    a {
    display: inline;
    padding-bottom: .125rem;
    @include underline-0;

      &.silent {
        border-bottom: none; }
    }

    &:hover,
    &:focus,
    &:active {
      a {
        @include underline-1;
        &.silent {
          border-bottom: none; }
      }
    }
  }
}


.collection {

  p {
    color: $secondary;
    margin-bottom: 1rem; }

  ul {
  }

  li {
    padding: .5rem 0;
    margin: 0;

    @include sm {
      padding: .75rem 0;
    }

    @include md {
      padding: 1rem 0;
    }

    @include lg {
      padding: 1.25rem 0; }
  }

}

.intro {
  margin-bottom: 6rem;

  ul {
  }

  li {
    margin: .5rem 0;
    &:last-child {
      color: $secondary;
    }

    @include lg {
      padding-top: .25rem;
      padding-bottom: .25rem; }
  }
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {

}

.about-header {

}

.experience {

  li {
    &:last-child {
    color: $secondary;
    }
  }

}

.awards {
  li {
    margin-bottom: 0.5rem;
    &:first-child {
      color: $secondary;
    }
    @include lg {
      margin-bottom: 1rem; }
  }
}

/* Project
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project {

  h1 {
    margin-bottom: 2rem;

    @include lg {
      margin-bottom: 3rem; }
  }
}
