@font-face {
    font-family: 'Display';
    src: url('../assets/fonts/Display-Light.woff2') format('woff2'),
        url('../assets/fonts/Display-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Text';
    src: url('../assets/fonts/Text-Regular.woff2') format('woff2'),
        url('../assets/fonts/Text-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
