@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Light.woff2') format('woff2'),
        url('AtlasGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Regular.woff2') format('woff2'),
        url('AtlasGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Medium.woff2') format('woff2'),
        url('AtlasGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Bold.woff2') format('woff2'),
        url('AtlasGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
