header {
  @include flex-box;
  flex-shrink: 0;
}

.nav-section {
  @include flex-box;
  align-items: center;

  a {
    @include link-style($primary, $primary-0, 2px);

    &:hover,
    &:focus,
    &:active {
      @include link-style($primary, $primary, 2px);
    }
  }

  ul {
    li {
      display: inline;
    }
    li:first-child {
      @include margin-r(2.5, 3rem, 3.5rem, 4rem, 5rem);
    }
  }
}

.nav-section-first {
  justify-content: flex-start;
}

.nav-section-second {
  justify-content: flex-end;
}


.nav-section {
  width: 50%;
}

.header {
  top: 0;
  @include font-sm;
  @include margin-t(2.5, 3rem, 3.5rem, 4rem, 5rem);
  @include margin-b(5, 6rem, 7rem, 8rem, 10rem);
}

.initials {
  color: $secondary;
  cursor: default;
}

/*
.header-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: $background-opacity;
  align-items: center;
  height : 6rem;
  margin-bottom: 10vh;
  @include font-sm;
  @include vertical-b(10vh, 10vh, 10vh, 10vh, 10vh);

  @include lg {
    height: 8rem;
  }
}
*/
