
@mixin sm() {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin md() {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin lg() {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

$transition-1: color 200ms ease-out, border-bottom-color 200ms ease-out, border-bottom-width 200ms ease-out;

@mixin transition-1() {
  -webkit-transition: $transition-1;
  -moz-transition: $transition-1;
  -o-transition: $transition-1;
  transition: $transition-1;
}
