
@mixin xs() {
  @media only screen and (min-width: $xs) {
    @content;
  }
}

@mixin sm() {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin md() {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin lg() {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

<<<<<<< HEAD
@mixin flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin vertical-rythm-1 {
  margin-bottom: 1rem;

  @include sm {
    margin-bottom: 1.5rem; }
  @include md {
    margin-bottom: 2rem; }
  @include lg {
    margin-bottom: 2.5rem; }
}

<<<<<<< HEAD
@mixin content-end {
    margin-bottom: 4rem;
    @include sm {
      margin-bottom: 6rem; }
    @include md {
      margin-bottom: 8rem; }
    @include lg {
      margin-bottom: 10rem; }
=======
@mixin margin-l ($lde, $lxs, $lsm, $lmd, $llg) {
  margin-left: $lde;

  @include xs {
    margin-left: $lxs; }
  @include sm {
    margin-left: $lsm; }
  @include md {
    margin-left: $lmd; }
  @include lg {
    margin-left: $llg; }
}


/* fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin font-sm {
  font-size: 0.875rem;
  line-height: 1.333;

  @include xs {
    font-size: 1rem;
  }
  @include sm {}

  @include md {}

  @include lg {
    font-size: 1.25rem;
  }
}

@mixin font-md {
  font-size: 1rem;
  line-height: 1.125;
  letter-spacing: -.025em;

  @include xs {
    font-size: 1.125rem;
  }

  @include sm {
    font-size: 1.25rem;
  }

  @include md {
    font-size: 1.5rem;
  }

  @include lg {
    font-size: 2rem;
  }
>>>>>>> parent of 86b05fb... edits
}

@mixin big-text {
  font-size: 1.5rem;
  line-height: calc(1.25em + (.25rem));

  @include xs {
    font-size: 1.75rem; }

  @include sm {
    font-size: 2rem; }

  @include md {
    font-size: 2.5rem; }

  @include lg {
    font-size: 3rem; }
}

@mixin p-link-style ($p-link-color, $p-link-underline-color, $p-link-underline-width) {
  color: $p-link-color;
  border-bottom: $p-link-underline-width solid $p-link-underline-color;
  -webkit-transition: border-bottom-color 200ms ease-out, color 200ms ease-out;
  -moz-transition: border-bottom-color 200ms ease-out, color 200ms ease-out;
  -o-transition: border-bottom-color 200ms ease-out, color 200ms ease-out;
  transition: border-bottom-color 200ms ease-out, color 200ms ease-out;
<<<<<<< HEAD
=======
$transition-1: color 200ms ease-out, border-bottom-color 200ms ease-out, border-bottom-width 200ms ease-out;

@mixin transition-1() {
  -webkit-transition: $transition-1;
  -moz-transition: $transition-1;
  -o-transition: $transition-1;
  transition: $transition-1;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}


@mixin title {
    font-size: 3rem;
    @include sm {
      font-size: 5rem;
      }
}

@mixin stroke {
  border-bottom: 1px solid $tertirary;
>>>>>>> parent of 3c69d87... Style Update
=======
>>>>>>> parent of 86b05fb... edits
}
