$primary: rgba(255, 255, 255, 1);
$secondary: rgba(255, 255, 255, 0.3);
$tertirary: #DFE1E6;
$background: rgba(18, 19, 20, 1);
$accent: rgba(255, 130, 0, 1);

$primary-0: rgba(23, 24, 26, 0);

$xs: 22em;
$sm: 30em;
$md: 48em;
$lg: 64em;

$container-width-sm: 90%;
$container-width-md: 90%;
$container-width-lg: 90%;
$container-width-max: 100rem;
