<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <article class="about container-fluid">
  <header class="about-header">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
        <h1 class="title"> {{ page.title }} </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="meta">
    <ul>
      <li>
        <p>Hello@samsam.design</p>
      </li>
      <li>
        <p>Linkedin</p>
      </li>
      <li>
        <p>VSCO</p>
      </li>
    </ul>
    </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="about-content">
    {{ content }}
    </div>
  </div>
  </div>
  <div class="divider spacer">
  </div>
  </header>
  <section class="sub experience">
  </section>
  <section class="sub education">
  </section>
  <section class="sub awards">
  </section>

  </article>
  {% include footer.html %}
</body>
</html>
