<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <article class="about container-fluid">
    {% include header-page.html %}
    <section class="sub-section about-header">
      <h1>
        {{ page.title }}
      </h1>
      {{ content }}
    </section>
    <section class="sub-section experience">
          <h2 class="label">Experience</h2>
          <ul>
            <li>Breather</li>
            <li>Senior Product Designer, 2017 - 2018</li>
          </ul>
          <ul>
            <li>Soundtrack Your Brand</li>
            <li>Product Designer, 2015 - 2017</li>
          </ul>
          <ul>
            <li>North Kingdom</li>
            <li>Designer, 2014 - 2015</li>
          </ul>
          <ul>
            <li>Your Majesty</li>
            <li>Designer, 2013 - 2014</li>
          </ul>
    </section>
    <section class="sub-section awards">
      <h2 class="label">Awards</h2>
      <ul>
        <li>Spotify Business, Sweden's National Design Award 2016</li>
        <li>A Journey Through Middle-Earth, Awwwards - Site of The Year 2015</li>
        <li>A Journey Through Middle-Earth, One Show - Gold 2015</li>
        <li>A Journey Through Middle-Earth, FWA - Cutting Edge Project 2015</li>
        <li>A Journey Through Middle-Earth, Guldägget - Silver 2015</li>
        <li>A Journey Through Middle-Earth, FWA - SOTD 2015</li>
        <li>A Journey Through Middle-Earth, Andy Awards - Silver 2015</li>
        <li>Every Step of The Way, Pixel Awards - Peoples Champ 2015</li>
        <li>Every Step of The Way, FWA - SOTD 2014</li>
        <li>Every Step of The Way, Awwwards - SOTD 2014</li>
        <li>Nature Valley Mobile, FWA - MOTD 2014</li>
        <li>Nature Valley Mobile, W3 Awards Gold 2014</li>
        <li>Nature Valley Mobile, Davey Awards Gold 2014</li>
      </ul>
    </section>
    <section class="sub-section awards">
      <h2 class="label">Awards</h2>
      <ul>
        <li>Sweden's National Design Award 2016</li>
        <li>Awwwards - Site of The Year 2015</li>
        <li>One Show - Gold 2015</li>
        <li>FWA - Cutting Edge Project 2015</li>
        <li>Guldägget - Silver 2015</li>
        <li>FWA - SOTD 2015</li>
        <li>Andy Awards - Silver 2015</li>
        <li>Pixel Awards - Peoples Champ 2015</li>
        <li>FWA - SOTD 2014</li>
        <li>Awwwards - SOTD 2014</li>
        <li>FWA - MOTD 2014</li>
        <li>W3 Awards Gold 2014</li>
        <li>Davey Awards Gold 2014</li>
      </ul>
    </section>
    <section class="sub-section awards">
      <h2 class="label">Awards</h2>
      <ul>
        <li>2016</li>
        <li>Sweden's National Design Award / Design S</li>
      </ul>
      <ul>
        <li>2015</li>
        <li>Awwwards Site of The Year</li>
        <li>One Show UX/UI Gold</li>
        <li>FWA Cutting Edge Project</li>
        <li>Guldägget Silver<li>
        <li>FWA SOTD</li>
        <li>Pixel Awards Peoples Champ</li>
        <li>Andy Awards Silver</li>
      </ul>
      <ul>
        <li>2014</li>
        <li>FWA SOTD</li>
        <li>FWA MOTD</li>
        <li>Awwwards SOTD</li>
        <li>W3 Awards Gold</li>
        <li>Davey Awards Gold</li>
      </ul>
    </section>
    <section class="sub-section awards">
      <h2 class="label">Awards</h2>
      <ul>
        <li>Sweden's National Design Award - 2016</li>
      </ul>
      <ul>
        <li>Awwwards - Site of The Year 2015</li>
        <li>One Show - UX/UI Gold 2015</li>
        <li>FWA - Cutting Edge Project 2015</li>
        <li>Guldägget - Silver 2015<li>
        <li>FWA - SOTD 2015</li>
        <li>Pixel Awards - Peoples Champ 2015</li>
        <li>Andy Awards - Silver 2015</li>
      </ul>
      <ul>
        <li>FWA - SOTD 2014</li>
        <li>FWA - MOTD 2014</li>
        <li>Awwwards - SOTD 2014</li>
        <li>W3 Awards- Gold</li>
        <li>Davey Awards - Gold</li>
      </ul>
    </section>
    <section class="sub-section awards">
      <h2 class="label">Credits</h2>
      <ul>
        <li>Breather</li>
        <li>Arnaud Spuhler, Simon Petry, Benjamin Belbis, Laurent Laporte, Seraphin Holchart, Sebastien Menard, Mehdi Loup-Naison, Joel Simpson, Jean Francois</li>
      </ul>
      <ul>
        <li>Soundtrack Your Brand</li>
        <li>Breather - Arnaud Spuhler, Simon Petry, Benjamin Belbis, Laurent Laporte, Seraphin Holchart, Sebastien Menard, Mehdi Loup-Naison, Joel Simpson, Jean Francois</li>
      </ul>
      <ul>
        <li>North Kingdom</li>
        <li>Breather - Arnaud Spuhler, Simon Petry, Benjamin Belbis, Laurent Laporte, Seraphin Holchart, Sebastien Menard, Mehdi Loup-Naison, Joel Simpson, Jean Francois</li>
      </ul>
      <ul>
        <li>Your Majesty</li>
        <li>Breather - Arnaud Spuhler, Simon Petry, Benjamin Belbis, Laurent Laporte, Seraphin Holchart, Sebastien Menard, Mehdi Loup-Naison, Joel Simpson, Jean Francois</li>
      </ul>
    </section>
  </article>
</body>
</html>
