<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <section class="home container-fluid">


    <!-- Intro -->

    <section class="intro">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

            <h1>
                I’m a Swedish designer based in Montreal. Currently working on the product team at <a class="hover-1" href="">Breather</a>.
            </h1>
          </div>

        </div>
    </section>

      <!-- Projects -->
    <section class="project-feed">
      <div class="row">
        <div class="col-xs-12">

      <div class="project-preview">
        <img src="../assets/images/breather-thumb-min.jpg">
        <p>International Center of Photography</p>
        <p>2014</p>
      </div>
    </div>
    </div>
  </section>

  </section>
  {% include footer.html %}
</body>
</html>
