<!DOCTYPE html>
<html>
{% include head.html %}
{% include nav.html %}
<body>
  <div class="container-fluid">


    <!-- Intro -->


      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

          <div class="cover">
            <h1>
                Hi I’m Samuel, a Swedish designer based in Montreal. </br> — I’m currently working on the product team at <a href="">Breather</a>,
                designing a network of spaces that are connected, productive and accessible.
            </h1>
          </div>

        </div>
      </div>

      <!-- Projects -->

      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

      <div class="project-preview">
        <figure class="project-thumb">
          <img class="image" src="../assets/images/soundtrack-thumb.png">
        </figure>
        <p>International Center of Photography</p>
        <p class="secondary">2014</p>
      </div>
    </div>
    </div>

  </div>
{% include footer.html %}
</html>
