<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <article class="home container-fluid">

    {% include header.html %}

    <section class="home-cover">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="color-secondary font-lg"><span class="color-primary">hello! I’m Samuel, a freelance designer based in Stockholm
              —&nbspI&nbspspecialize in product and design systems</span><br>
              <br>
              prior to going freelance, I was a senior product designer at <a class="link-inline" href="https://breather.com">Breather</a> in Montreal,
              where I designed ways to access and utilize a connected network of on-demand workspaces.<br>
              <br>
              Between 2015 and 2017 I was part of creating music streaming services <a class="link-inline" href="https://soundtrackyourbrand.com/">Soundtrack</a> and <span class="rip">Spotify&nbspBusiness</span></a>.
              Before my startup spell, I worked at design studios <a class="link-inline" href="https://northkingdom.com">North&nbspKingdom</a> and <a class="link-inline" href="https://yourmajesty.co">Your&nbspMajesty</a>.<br>
              <br><br>
              <a class="link-standard" href="mailto:hello@samsam.design"><span class="downwards-arrow">↳</span> work inquiries</a>
          </p>
        </div>
      </div>
    </section>

  </article>
</body>
</html>
