<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="container">
    <!-- Navigation -->
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          {{ site.title }}
        </a>
      </div>
      <div class="nav-right">
        <a class="nav-item">
          Projects
        </a>
        <a class="nav-item">
          Photography
        </a>
        <a class="nav-item">
          About
        </a>
      </div>
    </nav>
    <!-- End Navigation -->
    {% for post in site.posts %}
      <div class="row">
        <h1>{{ post.title }}</h1>
        <img class="image is-{{ post.photo-ratio }}" src="{{ post.photo-url }}">
      </div>
    {% endfor %}
  </div>
</html>
