<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <section class="project">

  <!-- Project cover -->
    <section class="project-cover">
        <img src="../assets/images/phone-syb.png">
    </section>

  <!-- Project content -->
    <section class="project-content container-fluid">

      <section class="sub-section">
        {% include project-text.html %}
      </section>

      <section class="sub-section">
        <div class="row">
          <div class="col-xs-12">
            <img class="project-image" src="../assets/images/School.jpg">
            <img class="project-image" src="../assets/images/School_mini.jpg">
            <img class="project-image" src="../assets/images/Browse.jpg">
          </div>
        </div>
      </section>

    </section>

  <!-- End Project content -->

    {% include next-project.html %}
  </section>
  {% include footer.html %}
</body>
</html>
