<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <article class="project container-fluid">

    {% include header-page.html %}

    <section class="project-cover">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1>{{ page.title }}</h1>
          <h1><span class="secondary">{{ page.subtitle }}</span></h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p>
          {{ page.description }}
          </p>
        </div>
      </div>
    </section>

    <section class="project-images">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {% for image in page.images %}
          <div class="image-16-9">
            <img src="{{ image }}">
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="project-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {{ page.content }}
        </div>
      </div>
    </section>

    <section class="project-credits">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% for credit in page.credits %}
          <p>
            {{ credit }}
          </p>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="next-project">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          {% if page.next %}
            <a href="{{ page.next.url }}">
              <p>
                Next project
              </p>
              <p>
                {{ page.next.title }}
              </p>
              <p>
                {{ page.next.subtitle }}
              </p>
            </a>
          {% else %}
            <a href="/">
              <p>
                Back to index
              </p>
            </a>
          {% endif %}

        </div>
      </div>
    </section>

  </article>
</body>
</html>
