<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="container">
    <!-- Navigation -->
    {% include navigation-work.html %}
    <!-- End navigation -->

    <!-- Page content -->
    <div class="page-content">
      <div class="row">
        <h1>Selected projects 2013 – 2016.</h1>
      </div>
      <div class="project">
        <figure class="image is-16by9">
          <img src="../assets/photos/16-9-icp.jpg">
        </figure>
        <h2>Internatoinal Center of Photography</h2>
        <p>Design and Art Deirection</p>
      </div>
    </div>
    <!-- End page content -->
  </div>
</html>
